.home-body-background {
  background-image: url(/images/background.png);
  background-repeat: no-repeat;
  background-size: 100% 185%;
}

body {
  background-color: #747373;
}

.btn-link {
  color: #ffffff;
  text-decoration: underline;
}

.btn-link:hover {
  color: #9c9c9c;
}

.jumbotron {
  margin-top: 5px;
  background-color: rgba(255, 255, 255, 0.7);
}

#survey-container {
  background-color: rgba(255, 255, 255, 0.9);
  margin-top: 5px;
}

#friend-photo {
  max-width: 75%;
  height: auto;
}

#name-div {
  font-size: 18pt;
}
